@import "@gn-styles/src/base";
@import "@gn-styles/src/layout";

body {
  background-color: var(--color--background);
  color: var(--color--foreground);
  font-family: $gn--font--family;
  @include gn--font--style--paragraph();
}
